
@{
    ViewData["Title"] = "ConfirmPage";
}

@model PillarTechBabysittingKata.Models.Appointments
<h1>Confirm Appointment</h1>

Is the information for this appointment correct?
@*Add an edit button that allows them to return to the create page (or an update page) for them to make any corrections*@
<form asp-action="AddAppointment">
    Family: @Model.FamilyId
    Date: @Model.StartDate.ToShortDateString()
    Start time: @Model.StartTime
    End time: @Model.EndTime
    Total cost: @Model.TotalCost
    <input type="hidden" name="StartDate" value="@Model.StartDate" />
    <input type="hidden" name="StartTime" value="@Model.StartTime" />
    <input type="hidden" name="EndTime" value="@Model.EndTime" />
    <input type="hidden" name="FamilyId" value="@Model.FamilyId" />
    <input type="hidden" name="TotalCost" value="@Model.TotalCost" />
    <input type="submit" value="Confirm" />
    <a asp-action="UpdateAppointment" asp-route-id="@Model">Edit</a>
</form>
