@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<PillarTechBabysittingKata.Models.Appointments>

Upcoming appointments for the next two weeks

    <table class="table">
        <tr>
            <th>Family</th>
            <th>Date</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Total Cost</th>
        </tr>

        @foreach (var appointment in Model)
        {
            @if (appointment.StartDate > System.DateTime.Now && appointment.StartDate < System.DateTime.Now.AddDays(14))
            {
                <tr>
                    <td>@appointment.FamilyId</td>
                    <td>@appointment.StartDate.ToShortDateString()</td>
                    <td>@appointment.StartTime</td>
                    <td>@appointment.EndTime</td>
                    <td>@appointment.TotalCost</td>
                </tr>
            }
        }
    </table>