
@{
    ViewData["Title"] = "Upcoming Appointments";
}

<h1>All appointments</h1>

@model IEnumerable<PillarTechBabysittingKata.Models.Appointments>


All of Family A's appointments
<table class="table" border="1" border-style="groove">
    <tr>
        <th>Date</th>
        <th>Start time</th>
        <th>End time</th>
        <th>Total Pay</th>
    </tr>
    @foreach (var appointment in Model)
    {
        @if (appointment.FamilyId == "A")
        {
            <tr>
                <td>@appointment.StartDate.ToShortDateString()</td>
                <td>@appointment.StartTime</td>
                <td>@appointment.EndTime</td>
                <td>@appointment.TotalCost</td>
            </tr>
        }
    }
</table>
All of Family B's appointments
<table class="table" border="1" border-style="groove">
    <tr>
        <th>Date</th>
        <th>Start time</th>
        <th>End time</th>
        <th>Total Pay</th>
    </tr>
    @foreach (var appointment in Model)
    {
        @if (appointment.FamilyId == "B")
        {
            <tr>
                <td>@appointment.StartDate.ToShortDateString()</td>
                <td>@appointment.StartTime</td>
                <td>@appointment.EndTime</td>
                <td>@appointment.TotalCost</td>
            </tr>
        }
    }
</table>
All of Family C's appointments
<table class="table" border="1" border-style="groove">
    <tr>
        <th>Date</th>
        <th>Start time</th>
        <th>End time</th>
        <th>Total Pay</th>
    </tr>
    @foreach (var appointment in Model)
    {
        @if (appointment.FamilyId == "C")
        {
            <tr>
                <td>@appointment.StartDate.ToShortDateString()</td>
                <td>@appointment.StartTime</td>
                <td>@appointment.EndTime</td>
                <td>@appointment.TotalCost</td>
            </tr>
        }
    }
</table>