
@{
    ViewData["Title"] = "ListOfAppointments";
}

<h1>List Of Appointments</h1>

@model IEnumerable<PillarTechBabysittingKata.Models.Appointments>

<table class="table">
    <tr>
        <th>Family</th>
        <th>Date</th>
        <th>Start Time</th>
        <th>End Time</th>
    </tr>
    @foreach(var appointment in Model)
    {
    <tr>
        <td>@appointment.FamilyId</td>
        <td>@appointment.StartDate</td>
        <td>@appointment.StartTime</td>
        <td>@appointment.EndTime</td>
        <td>@appointment.TotalCost</td>
    </tr>
    }
</table>